/* .videoListingItem .videoListingImage::after{
    content: "";
    position: absolute;
    width: calc(100% - 25px);
    height: calc(100% - 25px);
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.15);
    z-index: 1;
    -webkit-transition: inherit;
    -o-transition: inherit;
    transition: inherit;
} */

/* .our-scene .about-us{
    margin-right: 50px;
} */
.about-content .gray-point{

    border-radius: 50px;
    background: #EBEBEB;
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-left: 30px;
    margin-top: 5px;
    position: relative;
}
.about-content h2{
    display: inline-block;
    font-size: 28px;
}
.about-content p{
    margin-right: 55px;
    font-size: 15px !important;
    line-height: 36px;
    margin-bottom: 25px;
}

.about-us .about-content span.gray-point::after{
    content: "";
    display: block;
    width: 2px;
    height: 122px;
    position: absolute;
    left: 46%;
    top: -122px;
    background: #EBEBEB;
}

.first-one h2{
    margin-top: 0;
}
.first-one span.gray-point::after{
    display: none !important
}

/* .our-scene .gallery-box{} */
/* .our-scene{
    padding-bottom: 120px;
} */
.our-scene .gallery-box a{
    height: 690px !important;
}
.our-scene .gallery-box .fancy img{
    right: 0 !important;
}
.our-scene .gallery-box .fancy::after{
    width: calc(70% - 0px) !important;
    height: calc(40% - 0px) !important;
    left: 0 !important;
    right: auto;
    bottom: 0 !important;
    background-color: #92C841 !important;
}
.our-scene .gallery-box .fancy:hover::before{
    display: none;
}
.our-scene .gallery-box .fancy:hover img{
    transform: translate(10px, -10px);
}
.horizontal-line{
    position: absolute;
    width: 113px;
    top: 60%;
    right: 70%;
    height: 2px;
    margin-right: 20px;
}
.with-video .horizontal-line{
    position: absolute;
    width: 20% !important;
    top: 20px !important;
    left: -80px !important;
    right: auto !important;
    height: 2px;
    margin-right: 0px !important;
}
.with-video .content h2{
    width: 80% !important;
}
.with-video .gallery-box .fancyVid{
    /* max-height: 400px; */
    height: 400px;
    display: block;
    position: relative;
    height: 360px;
    -o-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    
}
.with-video .gallery-box .fancyVid img{
    position: absolute;
    width: calc(100% - 25px);
    height: calc(100% - 25px);
    left: 0;
    top: 0;
    z-index: 2;
    -webkit-transition: inherit;
    -o-transition: inherit;
    transition: inherit;
    background-color: #666;
}
.with-video .gallery-box .fancyVid::after{
    width: calc(80% - 0px) !important;
    height: calc(80% - 0px) !important;
    bottom: 10px !important;
    right: 5px;
    background-color: #52B2DB !important;
    content: "";
    position: absolute;
    z-index: 1;
    -webkit-transition: inherit;
    -o-transition: inherit;
    transition: inherit;
}

.with-video .gallery-box .fancyVid::before{
    content: "";
    opacity: 1;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='67.476' height='67.476' viewBox='0 0 67.476 67.476'%3e%3cg id='play-circle-outline' transform='translate(-61.5 -61.5)'%3e%3cpath id='Path_2100' data-name='Path 2100' d='M126.476,95.238a31.238,31.238,0,1,0-31.238,31.238A31.246,31.246,0,0,0,126.476,95.238Z' fill='none' stroke='%23fff' stroke-miterlimit='10' stroke-width='5'/%3e%3cpath id='Path_2101' data-name='Path 2101' d='M202.655,201.8l18.621-11.249a1.772,1.772,0,0,0,0-3.026l-18.621-11.249A1.754,1.754,0,0,0,200,177.791v22.494a1.754,1.754,0,0,0,2.655,1.515Z' transform='translate(-113.873 -93.801)' fill='%23fff'/%3e%3c/g%3e%3c/svg%3e ");
    width: 68px;
    height: 68px;
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
    position: absolute;
    left: calc(50% - 10px);
    top: calc(50% - 10px);
    z-index: 3;
    -webkit-transform: translate(-10px, -10px);
    -ms-transform: translate(-10px, -10px);
    transform: translate(-10px, -10px);
    -webkit-transition: inherit;
    -o-transition: inherit;
    transition: inherit;
}

.with-video .gallery-box .fancyVid:hover::before {
    opacity: 1;
}
.with-video .gallery-box .fancyVid:hover img {
    -webkit-transform: translate(-10px, -10px);
    -ms-transform: translate(-10px, -10px);
    transform: translate(-10px, -10px);
}
.with-video .gallery-box .fancyVid:hover::after {
    -webkit-transform: translateY(5px);
    -ms-transform: translateY(5px);
    transform: translateY(5px);
}

/* naaabza section */
.nabza{
    background-image: url(../images/bg-nabza.png);
    background-position: left bottom;
    background-repeat: no-repeat;
    background-color: #266891;
    height: 507px;
    padding-top: 0;
}
.content-margin{
    margin-top: 55px;
    /* margin-bottom: 88px; */
}
.nabza .nabza-content h2{
    color: #ffffff !important;
    font-size: 35px !important;
}
.nabza .nabza-content h2 .horizontal-line{
    right: 30%;
}
.nabza .nabza-content p {
    font-size: 15px !important;
    color: #ffffff !important;
    margin-bottom: 25px !important;
    line-height: 36px;
}
.nabza .nabza-content .detailsLnk {
    float: none;
    background-color: #8cc340;
    color: #fff !important;
    padding: 10px 30px 10px 70px;
    display: inline-block;
    -o-transition: all 0.8s ease;
    -webkit-transition: all 0.8s ease;
    transition: all 0.8s ease;
    box-shadow: -4px 4px 0px #00000040;
    cursor: pointer;
}
.nabza .nabza-content .detailsLnk::before {
    border-color: #fff;
    left: 30px;
    top: 11px;
}
.nabza .nabza-content .detailsLnk::after {
    background-image: url(../images/white-more-arrow.svg);
    left: 34px;
    top: 16px;
}
/* .nabza .nabza-content .detailsLnk:hover{
    padding: 10px 35px 10px 75px;
} */
.nabza .nabza-content .detailsLnk:hover:after {
    left: 16px;
}
.nabza .gallery-box .fancy{
    height: 571px;
}
.nabza .gallery-box .fancy img{
    top: -25px ;
}
.nabza .gallery-box .fancy::after{
    bottom: 37px;
}
.nabza .gallery-box .fancy::before{
    display: none;
}
.toggle-content{
    color: #ffffff;
    font-size: 15px;
    line-height: 36px;
    padding-top: 15px;
    display: none;
    animation: fadeIn ease 1.5s;
     -webkit-animation: fadeIn ease 1.5s;
   -moz-animation: fadeIn ease 1.5s;
    -o-animation: fadeIn ease 1.5s;
    -ms-animation: fadeIn ease 1.5s;
    margin-bottom: 10px;
}
.toggle-content a {
    display: block;
    background-image: url(../images/close.svg);
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    width: 45px;
    height: 45px;
    margin: auto;
    margin-top: 40px;
}
.hide-me{
    display: none !important;
}
.show-More-Content{
    display: block !important;
}
.auto-Height{
    height: auto !important;
    
}
.NEWWWWW{
    animation: fadeIn ease 1.5s;
     -webkit-animation: fadeIn ease 1.5s;
   -moz-animation: fadeIn ease 1.5s;
    -o-animation: fadeIn ease 1.5s;
    -ms-animation: fadeIn ease 1.5s;
}

.product-view .area:hover{
    height: auto !important;
    min-height: 430px;
}
/* timeline section styles */
.horizontal-swiperTimeline{
    direction: ltr !important;
    background-image: url(../images/bg-timeline.png);
    background-position: left bottom;
    background-repeat: no-repeat;
    background-color: #F5F5F5;
    padding: 75px 0 0;
    height: 780px;
}
.timeline-header{
    margin-bottom:55px ;
}
.timeline-header .horizontal-line{
    top: 40%;
    right: auto;
    left: 60%;
    margin-right: 0;
}
.timeline-header .second-line{
    right: 60%;
    left: auto;
}
.header-content{
    font-size: 35px;
}
.timeline--horizontal .timeline__wrap{
    height: 530px;
}
.timeline__item:after{
    background-color: #CCCCCC;
    height: 16px;
    width: 16px;
    border: none;
}
.timeline__content{
    border: 2px solid #55B6DC;
    box-shadow: 0 2px 4px #0000001a;
    /* width: 270px; */
    height: 140px;
    margin: 0 auto;
    padding: 19px 14px;

    display: flex;
    /* height: 100%; */
    justify-content: center;
    align-items: center;
}
.timeline__content h2{
    color: #92C841;
    position: absolute;
    left: 40%;
    font-size: 30px;
    font-weight: bold;
}
.timeline__content p {
    font-size: 16px;
    /* line-height: 30px; */
    margin-bottom: 10px;
    color: #666666;
    font-weight: bold;
    text-align: center;
}
.timeline--horizontal .timeline__item--top{
    padding: 0 0 25.5rem;
    
}
.timeline--horizontal .timeline__item--bottom{
    padding:  12.5rem 0px 0 ;
    top: 90px;
} 
.timeline__item--top .timeline__content h2{
    bottom: -93%;
}
.timeline__item--bottom .timeline__content h2{
    top: -90%;
    
}

/* .timeline--horizontal .timeline__item--top{
    top: 15px;
} */

.timeline--horizontal .timeline-nav-button{
    background-color: #55B6DC;
    border: none;
    top: 255px !important;
}

.timeline--horizontal .timeline-nav-button--prev::before{
    background-image: url(../images/prev.svg);
}

.timeline--horizontal .timeline-nav-button--next::before{
    background-image: url(../images/next.svg);
}

.timeline--horizontal .timeline-divider{
    top: 255px !important;

}
/* oooooooooooooooooooooooooooooooooooooooooooooo */
.timeline--horizontal .timeline__item--bottom .timeline__content:before{
border: none;
background-image: url(../images/Ellipse29.png) ;
width: 10px;
height: 10px;
top: -5px;
z-index: 99;
}
.timeline--horizontal .timeline__item--bottom .timeline__content::after{
border: none;
background-image: url(../images/Line32.png) ;
width: 2px;
height: 75px;
}

.timeline--horizontal .timeline__item--top .timeline__content:before{
    border: none;
    background-image: url(../images/Ellipse29.png) ;
    width: 10px;
    height: 10px;
    top: -5px;
    bottom: -5px;
    top: auto;
    z-index: 99;
    }
    .timeline--horizontal .timeline__item--top .timeline__content::after{
    border: none;
    background-image: url(../images/Line32.png) ;
    width: 2px;
    height: 75px;
    }
    .show-when-small{
        display: none;
    }
/* pppppppppppppppppppppppppppppppppppp */

/* tabs-sec */
.tabs-sec h2{
    margin-bottom: 60px;
    font-size: 35px
}
.tabs-sec h2 .horizontal-line{
right: 65%;
}


/*  */
/*  */
/* modon lake page */
/*  */
.madan-lake .content{
    padding-top: 30px;
}
.madan-lake .content h2{
    margin-bottom: 20px;
}
.madan-lake .content p {
    font-size: 16px;
}
.madan-lake .content .horizontal-line{
    right: auto;
}
.madan-lake .gallery-box .fancy {
    height: 336px;
}
.lake-description{
    margin-top: 50px;
}
.lake-description p{
    line-height: 36px;
}
.go-to-lake .prod-card{
height: 224px;
}


.go-to-lake .prod-card h2{
    margin-top: 50px;

}

/*  */
/* Community-Responsibility */
/*  */
.Community-Responsibility .main-paragraph{
font-size: 15px;
}
.Community-Responsibility .horizontal-line{
    right: auto;
}
.Community-Responsibility h2{
    font-size: 35px;
    margin-bottom: 30px;
}
.Community-Responsibility .content p {
    font-size: 16px;
}
.Community-Responsibility .gallery-box .fancy {
    height: 450px;
}
.more-padding .content{
    padding-top: 170px;
}

.environment{
    margin-bottom: 50px !important;
}
.p50{
    padding-bottom: 25px !important;
    padding-top: 25px !important;
}
.agreement{
    padding-top: 6px !important;
}
/* healthy section */
.healthy {
    background-image: url(../images/responsibility/healthy-bg.png);
    background-position: left bottom;
    background-repeat: no-repeat;
    background-color: #F5F5F5;
    padding-top: 40px;
    padding-bottom: 65px;
}
.healthy h2{
    margin-bottom: 47px;
}
.reverse-shadow .gallery-box .fancy img{
left: auto;
right: 0;
}
.reverse-shadow .gallery-box .fancy::after{
    right: auto;
    left: 0;
}
.reverse-shadow .gallery-box .fancy:hover img{
    transform: translate(10px, -10px);
}

/* enviro */
.environment-sec{
    background-image: url(../images/env/envart.png);
    background-position: right bottom;
    background-repeat: no-repeat;
    background-color: #F5F5F5;
    padding-top: 90px;
    padding-bottom: 65px;
}
.enviro-video .horizontal-line{
    right: auto;
    width: 100px;
}
.environment-sec p {
    line-height: 36px;
}
.environment-sec .content{
padding-top: 0;
margin-bottom :10px
}
.environment-sec .content h2{
    margin-top: 0;
    margin-bottom: 15px;
}
.environment-sec .last-p{
    margin-top: 20px;
}
.smoke{
    background-image: url(../images/responsibility/healthy-bg.png);
    background-position: left bottom;
    background-repeat: no-repeat;
    background-color: #F5F5F5;
    padding-top: 60px;
    padding-bottom: 25px;
}
.smoke .content{
    padding-top: 5px;
}
.tree{
    background-image: url(../images/responsibility/healthy-bg.png);
    background-position: left bottom;
    background-repeat: no-repeat;
    background-color: #F5F5F5;
    padding-top: 60px;
    padding-bottom: 25px;
}

/*  */
/* health page */
/*  */
.health .health-about{
    margin-top: 34px;
}
.health .health-about .health-about-content{
    /* display: inline; */
    position: relative;
    min-height: 106px;
}

.health-about p{
    padding-right: 55px;
    padding-left: 8px;
    line-height: 36px;
}
.health .health-about .health-about-content::before{
    content: "";
    border-radius: 50px;
    background: #EBEBEB;
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-top: 10px;
    position: absolute;
}

.health .health-about .health-about-content::after{
    content: "";
    display: block;
    width: 2px;
    height: 140px;
    position: absolute;
    top: -127px;
    background: #EBEBEB;
    right: 7px;
}
.first-one .health-about-content::after{
    display: none !important;
}
.saftey-visits{
    background-image: url(../images/bg-art88.png);
    background-position: left bottom;
    background-repeat: no-repeat;
    background-color: #F5F5F5;
    padding-top: 78px;
    padding-bottom: 70px;
}
.saftey-visits .choose-one{
background-color: #ffffff;
box-shadow: 0px 0px 45px #00000015;
/* margin-right: 30px; */
margin-right: 20px;
}
.saftey-visits .choose-one ul {
    /* padding: 20px ; */
    padding: 20px 10px;;
}
.saftey-visits .choose-one ul li{
    margin: 10px 0;
    background-color: #ffffff;
    width: 100%;
}
.saftey-visits .choose-one ul li a{
    color: #555555 !important;
    position: relative;
    font-size: 18px;
    text-align: right;
}
.saftey-visits .choose-one ul li.active a{
   color: #266891 !important;
   font-size: 20px;
   font-weight: bold;
}
.nav-tabs > li.active:after{
    display: none !important;
}
.saftey-visits .choose-one ul li.active a::before{
    content: "";
    position: absolute;
    background-color: #92C841;
    height: 2px;
    width: 95px;   
    top: 20px;
    right: -83px

}
.saftey-visits .saftey-content::before{
    content: "";
    background-image: url(../images/Security-check.svg);
    width: 56px;
    height: 65px;
    position: absolute;
    right: 0;

}
.saftey-visits .saftey-content{
padding-right: 70px;
}
.saftey-visits .saftey-content h2{
font-size: 28px;
margin-top: 5px;
}
.saftey-visits .saftey-content p{
line-height: 36px;
margin-bottom: 20px;
padding-left: 25px;
}
.saftey-visits .saftey-content a p{
    margin-bottom: 0px;
    }
.saftey-visits .saftey-content strong{
    font-size: 18px;
    color: #55B6DC;
}
.lstGreenNo .first-one span::after{
    display: none !important
}


/*  */
/* health and food */
/*  */
.no-background{
    background: #ffffff;
}
.saftey-visits .content{
    background: #ffffff;
    padding: 37px 48px;
}
.saftey-visits .horizontal-line{
    right: auto;
}
.saftey-visits .content h2{
    font-size: 28px;
}

.saftey-visits .content .lstGreenNo .lstGreenNoItem span{
    content: "";
    border-radius: 50px;
    background: #EBEBEB;
    width: 16px;
    height: 16px;
    vertical-align: sub;
}
.saftey-visits .content .lstGreenNo .lstGreenNoItem span:after{
    content: "";
    display: block;
    width: 2px;
    height: 90px;
    position: absolute;
    top: -78px;
    background: #EBEBEB;
    right: 7px;
}
.saftey-visits .content .lstGreenNo .lstGreenNoItem{
    overflow: inherit;
    min-height: 80px;
    color: #777777;
    line-height: 36px;
}
.tabs-hed{
    width: 30%;
    /* float: left; */
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999999;
}
.tabs-cont{
    /* width: 70%; */
    /* float: right; */
    position: relative;
}
.tabs-cont p {
    /* padding-left: 34% !important; */
    line-height: 36px;
}
.tabs-cont .slide-cont {
    padding-left: 34% !important;
    min-height: 350px;
}
.saftey-visits .main-h2{
    font-size: 35px;
}
.saftey-visits .product-view .slide-toggle{
    width: 50%;
    margin: auto;
    position: relative;
    padding: 14px 15px ;
}
.saftey-visits .product-view .slide-toggle::after {
    position: absolute;
    left: 40%;
    top: 25px;
    margin: 0;

}
.saftey-visits .product-view .slide-toggle:hover::after, .product-view .slide-toggle.active::after {
    background-image: url(../images/down-arrow.svg) !important;
    width: 15px;
    height: 8px;
}
.saftey-visits .product-view .slide-toggle::before {
    content: "";
    width: 15px;
    height: 8px;
    display: inline-block;
    background-image: url(../images/down-arrow.svg);
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-transition: inherit;
    -o-transition: inherit;
    transition: inherit;
    position: absolute;
    right: 40%;
    top: 25px;
}
.saftey-visits .product-view .slide-toggle.active{
    display: none !important
}
.saftey-visits .product-view .slide-toggle p {
    padding-left: 0!important;
}
.saftey-visits .product-view .slide-close {
    display: block;
    background-color: #fff;
    border: 2px solid #52b2db;
    border-radius: 50px;
    text-align: center !important;
    margin-top: 67px;
    margin-bottom: 69px;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    cursor: pointer;
    background-image: none;
    width: 50%;
    margin: auto;
    position: relative;
    padding: 14px 15px;
    height: 63px;
}
.product-view .slide-wrapper .slide-close:hover {
    background-image: none
}
.saftey-visits .product-view .slide-close::before {
    content: "";
    width: 15px;
    height: 8px;
    display: inline-block;
    background-image: url(../images/up-arrow2.svg);
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-transition: inherit;
    -o-transition: inherit;
    transition: inherit;
    position: absolute;
    right: 39%;
    top: 25px;
}

.saftey-visits .product-view .slide-close::after {
    content: "";
    width: 15px;
    height: 8px;
    display: inline-block;
    background-image: url(../images/up-arrow2.svg);
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-transition: inherit;
    -o-transition: inherit;
    transition: inherit;
    position: absolute;
    left: 39%;
    top: 25px;
}
.saftey-visits .product-view .slide-close p {
    margin: 0;
    font-size: 18px;
    font-weight: bold;
    text-align: center !important;
    color: #555555;
    -webkit-transition: inherit;
    -o-transition: inherit;
    transition: inherit;
    padding-left: 0!important;
}
.saftey-visits .product-view .slide-close:hover {
    background-color: #e9f9ff;
}
.saftey-visits .product-view .slide-close:hover p, .product-view .slide-close.active p {
    font-size: 20px;
    color: #185a81;
}
.saftey-visits .tabs-cont .saftey-content{
    padding-right: 0;
}

.saftey-visits .tabs-cont .saftey-content::before{
    display: none
}
.saftey-visits .product-view .slide-wrapper h3{
    color: #55B6DC;
}
.saftey-visits .product-view .slide-wrapper p{
    padding-left: 0 !important;
    padding-bottom: 80px;
}
.saftey-visits .product-view .slide-wrapper .slide-image{
   padding: 30px 0 40px;
   /* margin: 0 auto ; */
   text-align: center;
}
.saftey-visits .product-view .slide-wrapper .slide-image img{
    max-width: 100%;
}
.saftey-visits .with-dots{
    padding: 0;
    /* margin-top: -125px; */
}
.saftey-visits .slide-lists .content{
    padding: 0px 20px;
}
.saftey-visits .slide-lists .content .lstGreenNo .lstGreenNoItem h5 {
    font-size: 16px;
    color: #266891;
    display: inline-block;
    min-height: 65px;
    max-width: 90%;
    vertical-align: top;
}
.saftey-visits .slide-lists .content .lstGreenNo .lstGreenNoItem ul {
    padding: 5px 70px 40px;
}
.saftey-visits .slide-lists .content .lstGreenNo .lstGreenNoItem ul li {
    list-style-image:url(../images/list-style.svg) ;
}
.saftey-visits .slide-lists .content .lstGreenNo .lstGreenNoItem span:after{
    height: 255px;
    top: -245px;
}
.saftey-visits .slide-lists .content .lstGreenNo .lstGreenNoItem span {
    margin-top: 15px;
}
/*  meeeeeeeeeeeeeeeeeedia */
@media (min-width: 800px){
    .our-scene{
        padding-bottom: 120px;
    }

    .tabs-sec{
        padding-top: 100px;
    }
    .more-padding{
        padding-top: 52px;
    }
}

@media (max-width: 1200px){
    .about-us .about-content span.gray-point::after {
        height: 170px;
        top: -170px;
    }
    .horizontal-line {
        width: 45px;
        right: 82%;
        margin-right: 20px;
    }
    .about-content p{
        margin-bottom: 10px;
    }
    .nabza .nabza-content h2 .horizontal-line {
        right: 35%;
    }
    .timeline__content p {
        font-size: 13px;
    }
    .tabs-sec h2 .horizontal-line {
        right: 75%;
    }

    /* footer */
    .footerNewsLetterWrapper {
        padding: 15px 25px 15px;
    }
    .newsletterfrom {
        margin-top: 20px;
    }
    .newsletterfrom .newsletterfromemail{
        width: 70%;
    }
}


@media (max-width: 992px){
    .horizontal-line {
        width: 75px;
        right: 50%;
    }
    .about-us{
        margin-top: 20px;
    }
    .about-us .about-content span.gray-point::after {
        height: 120px;
        top: -114px;
    }
    .our-scene {
        padding-bottom: 50px;
    }
    .nabza {
        height: auto;
    }
    .timeline-header .horizontal-line {
        left: 65%;
    }
    .timeline-header .second-line {
        right: 65%;
        left: auto;
    }
    .timeline__content h2 {
        left: 30%;
        font-size: 22px;
    }
    .timeline__item--top .timeline__content h2 {
        bottom: -83%;
    }
    .timeline__item--bottom .timeline__content h2 {
        top: -77%;
    }
    .timeline__content {
        height: 145px;
    }
    .timeline__content p {
        font-size: 12px;
    }
    .timeline--horizontal .timeline__item--bottom {
        top: 85px;
        padding: 11rem 0px 0;
    }
    .product-view {
        padding-top: 0px;
    }
    .tabs-sec{
        padding-top:30px
    }
    .tabs-sec h2 {
        font-size: 25px;
    }
    .footerNewsLetterWrapper {
     padding: 40px 50px 30px;
    }
    .newsletterfrom {
        margin-top: 40px;
    }
    .content-margin{
        /* margin-top: 55px; */
        margin-bottom: 88px;
    }
    .environment-sec .content h2{
        margin-top: 20px;
    }
    .reverse-shadow{
        padding-top: 20px;
        padding-bottom: 0;
    }
    .Community-Responsibility .content{
        padding-top: 40px;
    }
    .Community-Responsibility .main-paragraph{
        margin-top: 20px;
    }
    .Community-Responsibility h2{
        font-size: 28px;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .Community-Responsibility .content h2{
        margin-bottom: 10px;
    }
    .agreement .content{
        padding-top: 0;
    }
    .p50 {
        /* padding-bottom: 0 !important; */
        padding-top: 0 !important;
    }
    .health-about p {
        font-size: 12px;
        line-height: 28px;
    }
    .health .health-about .health-about-content::after{
        height: 145px;
    }
    .saftey-visits .choose-one ul li{
        width: 100%;
    }
    .saftey-visits .choose-one ul li a{
        font-size: 15px;
    }
    .saftey-visits .choose-one ul li.active a{
        font-size: 17px;
     }
     .saftey-visits .saftey-content h2 {
        font-size: 22px;
    }
    .saftey-visits .saftey-content p{
        line-height: 28px;
    }
    .saftey-visits .saftey-content strong{
        font-size: 15px;
    }
.saftey-visits .saftey-content {
    padding-right: 75px;
}
.saftey-visits .saftey-content::before {
    right: 20px;
}
.saftey-visits .main-h2 {
    font-size: 28px ;
}
.saftey-visits .saftey-content .slide-cont h3{
    font-size: 18px;
}
.tabs-cont p {
    font-size: 14px;
    line-height: 26px;
}
.tabs-cont h3{
    font-size: 17px;
}
.saftey-visits .choose-one ul li a {
    font-size: 14px;
}
.saftey-visits .choose-one ul li.active a {
    font-size: 16px;
}

.saftey-visits .product-view .slide-close p, .saftey-visits .product-view .slide-toggle p{
    font-size: 15px;
}
.saftey-visits .product-view .slide-close::after , .saftey-visits .product-view .slide-toggle::after {
left: 33%;
}
.saftey-visits .product-view .slide-close::before, .saftey-visits .product-view .slide-toggle::before{
    
    right: 33%;
}
.saftey-visits .slide-lists .content .lstGreenNo .lstGreenNoItem h5 {
    font-size: 15px;
}
.saftey-visits .slide-lists .content .lstGreenNo .lstGreenNoItem ul li {
    font-size: 12px;
}
.saftey-visits .choose-one ul li.active a::before {
    width: 70px;
    right: -55px;
}
/* .saftey-visits .slide-lists .content .lstGreenNo .lstGreenNoItem span:after {
    height: 300px;
    top: -292px;
} */
}


@media (max-width: 768px){
    .with-video{
        padding-top: 20px;
    }
.product-view .content h2 {
    font-size: 22px;
    margin-bottom: 10px;
    line-height: 30px;
}
.product-view .content p {
    font-size: 13px;
    line-height: 27px;
}
.horizontal-line {
    right: 45%;
}
.about-content h2 {
    font-size: 22px;
    margin-top: 10px;
}
.about-content p {
    margin-right: 55px;
    font-size: 13px !important;
    line-height: 23px;
    margin-bottom: 5px;
}
.about-us .about-content span.gray-point::after {
    height: 85px;
    top: -75px;
}
.nabza .nabza-content h2 {
    font-size: 22px !important;
}
.toggle-content {
    line-height: 22px;
}
.nabza .nabza-content p {
    font-size: 13px !important;
    line-height: 22px;
}
    .nabza .nabza-content h2 .horizontal-line {
        right: 35%;
    }
    .timeline__content p {
        font-size: 11px;
    }
    .header-content {
        font-size: 22px;
    }

    .environment-sec p{
        font-size: 13px;
    }
    .Community-Responsibility .main-paragraph{
        font-size: 13px;
    }
    .lake-description {
        margin-top: 30px;
    }    
    p {
        font-size: 13px ;
    }
    .tabs-cont .slide-cont {
        min-height: 400px;
    }
    .saftey-visits .slide-lists .content .lstGreenNo .lstGreenNoItem h5 {
        font-size: 13px;
    }
    .saftey-visits .slide-lists .content .lstGreenNo .lstGreenNoItem ul li {
        font-size: 11px;
    }
    .saftey-visits .content h2 , 
    .saftey-visits .main-h2 {
        font-size: 22px;
    }
}
@media (max-width: 670px){
    .horizontal-line{
        display: none !important;
    }
    .with-video .content h2{
        width: 100% !important;
    }
    .saftey-visits .slide-lists .content .lstGreenNo .lstGreenNoItem span:after{
        display: none
    }
}
@media (max-width: 600px){
    .horizontal-swiperTimeline{
        height: auto;
        padding: 35px 0 35px;
    }
    .timeline__item--top .timeline__content h2 {
        bottom: -83%;
        bottom: auto;
        top: auto;
        left: 10px;
    }
    .timeline__item--bottom .timeline__content h2{
        top: auto;
        left: 10px; 
    }
    .timeline__content h2 {
        left: 10px;
    }
    .timeline--mobile .timeline__item .timeline__content:before {
        border-right: 12px solid #55B6DC;
    }
    .timeline-header .horizontal-line {
        left: 70%;
    }
    .timeline-header .second-line {
        right: 70%;
        left: auto;
    }
    .timeline__content{
        padding-left: 60px;
        padding-right: 20px;
    }
    .tabs-sec h2 .horizontal-line{
        display: none;
    }
    .about-content h2 {
        font-size: 20px;
        margin-top: 5px;
    }
    .hidden-when-small{
        display: none;
    }
    .show-when-small{
        display: block;
    }
}

@media (max-width: 500px){
    .newsletterfrom {
        margin-top: 15px;
    }
    .footerNewsLetterWrapper {
        padding: 25px 35px 30px;
    }
    .horizontal-line {
        right: 65%;
    }
    .tabs-sec h2 {
        font-size: 22px;
        margin-bottom: 25px;
    }
    .about-us .about-content span.gray-point::after {
        height: 97px;
        top: -88px;
    }
}